<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} {% endblock %}
<!-- CSS Files -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.2/components/abouts/about-4/assets/css/about-4.css" />

{% block content %}
<nav class="navbar navbar-expand-lg">
	<button class="navbar-toggler" type="button" 
		data-toggle="collapse" data-target="#navbarTogglerDemo03" 
		aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
	>
 	<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{{ url_for('landing_page') }}">COURSEZEN</a>
	<!------------>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
		<li class="nav-item active text-center">
			<a class="nav-link" href="{{ url_for('features_page') }}">
				Features 
				<span class="sr-only">
					(current)
				</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('about_page') }}">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="{{ url_for('faq_page') }}">FAQ</a>
		</li>
	</ul>
	<form class="form-inline my-2 my-lg-0">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
	</form>
	</div>
</nav> 
<!-------End of Nav---------->
<!--Start of About Section-->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">Core Values</h3>
          <h2 class="display-5 mb-4">At our core, we prioritize educators, embrace the unexpected, and fostering a culture of continuous learning.</h2>
          <button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="container container-fluid">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="https://images.pexels.com/photos/13092792/pexels-photo-13092792.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid rounded-start" alt="Why Choose?">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                  <p class="card-text lead">
			With years of experience and deep industry knowledge, we have a proven track record and are challenging ourselves to iterate our tools.
		   </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="https://images.pexels.com/photos/7212949/pexels-photo-7212949.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Visionary Team</h2>
                  <p class="card-text lead">
			With a team of user-centric developers, designers and creative minds, we embark on a journey to transform the education into a smooth simple process.
		  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--End of About Section-->
<!--Blog Cards-->
<section>
  <h1 class="h1 text-center mb-3">Checkout Our Blog</h1>
  <div class="row">
	<div class="col-sm-6">
	  <div class="card ml-2">
		<div class="card-body">
		  <h5 class="card-title">Keys to writing effective learning content</h5>
		  <h6 class="card-subtitle mb-2 text-muted">By Skywalker</h6>
		  <p class="card-text">Write effective content that engages learners.</p>
		  <a href="#" class="btn btn-primary">Read More</a>
		</div>
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="card text-right mr-2">
		<div class="card-body">
		  <h5 class="card-title">Writing Awesome Learning Plans</h5>
		  <h6 class="card-subtitle mb-2 text-muted">By ZenDev</h6>
		  <p class="card-text">Write awesome learning plans that leave students wanting to learn more.</p>
		  <a href="#" class="btn btn-primary">Read More</a>
		</div>
	  </div>
	</div>
  </div>
</section>
<!--End of Blog Cards-->
<!--Sign Up Form-->
<h1 class="text-center mt-4 mr-1">Sign Up Today</h1>
<div class="column-md-4 offset-3">
	<form>
		<div class="form-group mt-4">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control w-75" id="exampleInputEmail1" aria-describedby="emailHelp" 
				   placeholder="Enter email" name="email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<!------------------>
		<div class="form-group">
			<label for="exampleInputPassword1">Name</label>
			<input type="text" class="form-control w-75" id="exampleInputPassword1" name="name" placeholder="Name">
		</div>
		<!------------------>
		<div class="form-check">
			<input type="checkbox" class="form-check-input mb-1" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Not a robot</label>
		</div>
		<button type="submit" class="btn btn-primary mt-4">Submit</button>
	</form>
</div>
<!--End of Sign Up-->
<!----------------------->
<div class="container py-5 container-fluid">
	<div class="row min-vh-50 align-items-center">
		<div class="col-md-12 text-center">
			<div class="lc-block mb-2">
				<div editable="rich">
					<h2 class="display-3 fw-bolder">Reach us</h2>
					<p>Need help setting up<br>&nbsp;or confused on something, reach out.&nbsp;</p>
				</div>
			</div>
			<div class="lc-block border-top col-md-6 offset-md-3">
				<div editable="rich">
					<h2 class="fw-bolder"><br></h2>
				</div>
			</div>
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bolder">Our Hours</h2>
				</div>
			</div>
			<div class="lc-block">
				<div editable="rich">
					<p>Monday through Thursday: 11:00am – 5:00PM</p>
					<button type="submit"  class="btn btn-outline-primary mb-3" href="#" role="button">Contact Us</button>
				</div>
			</div>
		</div>	
	</div>
</div> 
<!--End of Reach Out Section-->
<!--Footer-->    
<footer>
	<section class="container-fluid">
		<div class="container-fluid">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
				<div class="col mb-3">
					<div class="lc-block">
						<div editable="rich">
							<h2>CourseZen</h2>
							<p class="text-muted">Privacy-Terms</p>
							<p class="text-muted">© 2023 CourseZen</p>
						</div>
					</div>
				</div>
				<!------------------------->
				<div class="col offset-md-2 mb-3">
					<div class="lc-block mb-4">
						<div editable="rich">
							<h4>Features</h4>
						</div>
					</div>
					<div class="lc-block small"> 
						<div editable="rich" class="footer-links-list">
							<ul>
								<li><a href="https://trello.com/home">Trello</a> </li>
								<li><a href="https://www.atlassian.com/software/jira/work-management">Jira</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-------------------->
				<div class="col mb-3">
					<div class="lc-block mb-4">
						<div editable="rich">
							<h4>About us</h4>
						</div>
					</div>
					<div class="lc-block small">
						<div editable="rich" class="footer-links-list">
							<ul>
								<li><a href="/about">Our Story</a> </li>
								<li><a href="#">Work with us</a></li>
								<li><a href="#">Blog</a> </li>
								<li><a href="#">Careers</a> </li>
							</ul>
						</div>
					</div>
				</div>
				<!------------------>
				<div class="col mb-3">
					<div class="lc-block mb-4">
						<div editable="rich">
							<h4>Resources</h4>
						</div>
					</div>
					<!-------------------->
					<div class="lc-block small">
						<div editable="rich" class="footer-links-list">
							<ul>
								<li><a href="{{ url_for('faq_page') }}">FAQ</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
<!--End of Footer-->
{% endblock %}
