<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('landing_page') }}">CODEZEN</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active text-center">
          <a class="nav-link" href="{{ url_for('features_page') }}">Features <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about_page')}}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ url_for('faq_page') }}">FAQ</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>  
<!-------End of Nav---------->
<!--Start of FAQ-->
<div class="container py-5 container-fluid">
    <div class="row mb-5">
       <div class="col-md-12">
          <div class="lc-block text-center">
             <div editable="rich">
                <h2 class="fw-bold">FAQ</h2>
             </div>
          </div>
          <div class="lc-block text-center">
             <div editable="rich">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>fugiat nulla pariatur excepteur sint occaecat.&nbsp;<br>Static Faq<br>
             </div>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-6">
          <div class="lc-block mb-5">
             <div editable="rich">
                <p class="h4">Excepteur sint occaecat cupidatat non? </p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <p class="h4">Duis aute irure dolor in?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <p class="h4">Consequuntur magni dolores eos qui?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <div class="lc-block mb-5">
             <div editable="rich">
                <p class="h4">Duis aute irure dolor in?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <p class="h4">Consequuntur magni dolores eos qui?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <p class="h4">Excepteur sint occaecat cupidatat non? </p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
             </div>
          </div>
       </div>
    </div>
 </div>  
<!--End of FAQ-->
<!--Footer-->    
<section class="container-fluid">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
			<div class="col mb-3">
				<div class="lc-block">
					<div editable="rich">
						<h2>CourseZen</h2>
						<p class="text-muted">Privacy-Terms</p>
						<p class="text-muted">© 2023 CourseZen</p>
					</div>
				</div>
			</div>
			<!------------------------->
			<div class="col offset-md-2 mb-3">
				<div class="lc-block mb-4">
					<div editable="rich">
						<h4>Features</h4>
					</div>
				</div>
				<div class="lc-block small"> 
					<style>
					.footer-links-list ul { padding-left:0 }
					.footer-links-list ul li {margin-bottom:15px; list-style-type:none;padding-left:0 }
					.footer-links-list a {text-decoration:none; color:var(--bs-body-color);}
					</style>
					<div editable="rich" class="footer-links-list">
						<ul>
							<li><a href="#">Trello</a> </li>
							<li><a href="#">Jira</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="lc-block mb-4">
					<div editable="rich">
						<h4>About us</h4>
					</div>
				</div>
				<div class="lc-block small">
					<div editable="rich" class="footer-links-list">
						<ul>
							<li><a href="#">Our Story</a> </li>
							<li><a href="#">Work with us</a></li>
							<li><a href="#">Blog</a> </li>
							<li><a href="#">Careers</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="lc-block mb-4">
					<div editable="rich">
						<h4>Resources</h4>
					</div>
				</div>
				<div class="lc-block small">
					<div editable="rich" class="footer-links-list">

						<ul>
							<li><a href="{{ url_for('faq_page') }}">FAQ</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End of Footer-->
{% endblock %}